@page "/current"
@using CleanAspireApp.Web.Extensions
@inject JavaHelper javaHelper
<h3>CurrentProperty</h3>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
           var data =  await javaHelper.GetItemAsync("response");
        }
        await base.OnAfterRenderAsync(firstRender);
    }

}
