@page "/"

<PageTitle>Home</PageTitle>

@* <MudText Typo="Typo.h3" GutterBottom="true">Welcome to our new app!</MudText> *@
@* <MudText Class="mb-8">Here are attempting to make it easier to find your property on a valuation roll!</MudText> *@


    @* <MudCardMedia Image="assets/logo.png" 
    Alt="Logo"
    Elevation="10" 
    Class="rounded-lg ma-4" /> *@


<div class="d-flex justify-center">
    <MudImage Src="assets/logo.png" Fluid="true" Width="332" Height="250" Alt="Swedish Farm House"  Class="rounded-lg ma-4" ObjectPosition="ObjectPosition.Center"></MudImage>

</div>

