@inherits LayoutComponentBase

@page "/authentication-failed"

<AuthorizeView>
    

    <NotAuthorized>
        <p>Authentication failed. Please try again.</p>
   </NotAuthorized>
</AuthorizeView>

@code {

}
